[user]
  name = Marcos Ojeda
  email = subliminal@gmail.com

[color]
  ui = true

[branch]
  autosetupmerge = always
  autosetuprebase = always

[alias]
  unstage = reset HEAD --
  st = status

  wip = commit -am \"WIP\"
  unwip = reset HEAD^

  co = "!f() { git checkout $* && git submodule update --init --recursive; }; f"
  p = !sh -c 'git pull $* && git submodule update --init --recursive' --
  m = "!f() { git merge \"$@\" && git submodule update --init --recursive; }; f"
  squish = "!f() { git status && git commit -a --amend -C HEAD; }; f"
  unsquish = reset --soft HEAD@{1}
  weekly = !sh -c 'git log --author=$USER --since=`gdate -d last\\ monday +%Y/%m/%d`'

[credential]
  helper = osxkeychain

[push]
  default = current

[core]
  excludesfile = /Users/marcos/.gitignore_global
  editor = subl -n -w

[merge]
  keepBackup = false;
  tool = p4merge

[mergetool "p4merge"]
  cmd = ~/Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

# presumably added by github.app
[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true
#[pager]
#  diff = diff-so-fancy | less --tabs=1,5 -RFX
#  show = diff-so-fancy | less --tabs=1,5 -RFX
